extends layouts/main

block content
    .videos
        each video in videos2 
            h1= video.title
            p= video.description
            div= video.videoFile
//- //video는 변수명이고 어떤 이름을 붙여도 상관없다.
        
